@media (max-width: 575.98px){
	header div.menu{
		padding: 0;
	}
	header div.menu div:first-child{
		padding-left: 0;
	}
	nav.d-flex{
		flex-direction: row!important;
	}
	header div.call-to h1{
		font-size: 52px;
	}
	nav.d-flex ul.p-2{
		margin: 0;
		padding: 0;
	}
	nav.d-flex ul li{
		margin: 0 20px 0 0;
		/*padding: 0;*/
	}
	section.our-services div.services div img{
	    /*display: block;
	    height: 77px;*/
	    width: auto;
	    margin: auto;
	    margin-top: 30px;
	}
	section.our-services div.services div h3,section.our-services div.services div p{
		text-align: center;
	}
	section.check_our h2{
		font-size: 52px;
		text-align: center;
	}
	div.services-2 a{
		margin-bottom: 30px;
		background-color: #fff;
		color: #2ebaee;
	}
	div.services-2 a:hover{
		background-color: #2ebaee;
		color: #fff;
		border: 1px solid #fff;
	}
	div.services-3 div.paddi{
	    padding-left: 0;
	}
	section.boy div h3{
	    font-size: 52px;
	    margin-left: 0;
	    text-align: center;
	}
	/*section.check_our h2 span:after{
    content: '';
    display: block;
	}*/
	section.footer div.contact{
		font-size: 52px;
	}
	section.footer input[type="text"], section.footer input[type="email"], textarea{
		width: 100%;
		font-family: Montserrat;
		/*margin: auto;*/
	}
	section.footer button{
		margin: 0 auto;
		/*margin-left: 0;*/
	}
	section.footer form{
    	margin: 55px 0 0 0;
	}
	footer p{
		margin: 50px 0 30px 0;
		text-align: left;
	}
	footer{
		max-height: 100%;
	}
}
@media (min-width: 576px) and (max-width: 767.98px){
	header div.menu{
		padding: 0;
	}
	header div.menu div:first-child{
		padding-left: 0;
	}
	nav.d-flex{
		flex-direction: row!important;
	}
	header div.call-to h1{
		font-size: 52px;
	}
	nav.d-flex ul.p-2{
		margin: 0;
		padding: 0;
	}
	nav.d-flex ul li{
		margin: 0 20px 0 0;
		/*padding: 0;*/
	}
	section.our-services div.services div img{
	    /*display: block;
	    height: 77px;*/
	    width: auto;
	    margin: auto;
	    margin-top: 30px;
	}
	section.our-services div.services div h3,section.our-services div.services div p{
		text-align: center;
	}
	section.check_our h2{
		font-size: 52px;
		text-align: center;
	}
	div.services-2 a{
		margin-bottom: 30px;
		background-color: #fff;
		color: #2ebaee;
	}
	div.services-2 a:hover{
		background-color: #2ebaee;
		color: #fff;
		border: 1px solid #fff;
	}
	div.services-3 div.paddi{
	    padding-left: 0;
	}
	section.boy div h3{
	    font-size: 52px;
	    margin-left: 0;
	    text-align: center;
	}
	/*section.check_our h2 span:after{
    content: '';
    display: block;
	}*/
	section.footer div.contact{
		font-size: 52px;
	}
	section.footer input[type="text"], section.footer input[type="email"], textarea{
		width: 100%;
		font-family: Montserrat;
		/*margin: auto;*/
	}
	section.footer button{
		margin: 0 auto;
		/*margin-left: 0;*/
	}
	section.footer form{
    	margin: 55px 0 0 0;
	}
	footer p{
		margin: 50px 0 30px 0;
		text-align: left;
	}
	footer{
		max-height: 100%;
	}
}
@media (min-width: 768px) and (max-width: 991.98px){
		header div.menu{
		padding: 0;
	}
	header div.menu div:first-child{
		padding-left: 0;
	}
	nav.d-flex{
		flex-direction: row!important;
	}
	header div.call-to h1{
		font-size: 52px;
	}
	nav.d-flex ul.p-2{
		margin: 0;
		padding: 0;
	}
	nav.d-flex ul li{
		margin: 0 20px 0 0;
		/*padding: 0;*/
	}
	section.our-services div.services div img{
	    /*display: block;
	    height: 77px;*/
	    width: auto;
	    margin: auto;
	    margin-top: 30px;
	}
	section.our-services div.services div h3,section.our-services div.services div p{
		text-align: center;
	}
	section.check_our h2{
		font-size: 52px;
		text-align: center;
	}
	div.services-2 a{
		margin-bottom: 30px;
		background-color: #fff;
		color: #2ebaee;
	}
	div.services-2 a:hover{
		background-color: #2ebaee;
		color: #fff;
		border: 1px solid #fff;
	}
	div.services-3 div.paddi{
	    padding-left: 0;
	}
	section.boy div h3{
	    font-size: 52px;
	    margin-left: 0;
	    text-align: center;
	}
	/*section.check_our h2 span:after{
    content: '';
    display: block;
	}*/
	section.footer div.contact{
		font-size: 52px;
	}
	section.footer input[type="text"], section.footer input[type="email"], textarea{
		width: 100%;
		font-family: Montserrat;
		/*margin: auto;*/
	}
	section.footer button{
		margin: 0 auto;
		/*margin-left: 0;*/
	}
	section.footer form{
    	margin: 55px 0 0 0;
	}
	footer p{
		margin: 50px 0 30px 0;
		text-align: left;
	}
	footer{
		max-height: 100%;
	}
}
@media (min-width: 992px) and (max-width: 1400.98px){
		header div.menu{
		padding: 0;
	}
	header div.menu div:first-child{
		padding-left: 0;
	}
	nav.d-flex{
		flex-direction: row!important;
	}
	header div.call-to h1{
		font-size: 52px;
	}
	nav.d-flex ul.p-2{
		margin: 0;
		padding: 0;
	}
	nav.d-flex ul li{
		margin: 0 20px 0 0;
		/*padding: 0;*/
	}
	section.our-services div.services div img{
	    /*display: block;
	    height: 77px;*/
	    width: auto;
	    margin: auto;
	    margin-top: 30px;
	}
	section.our-services div.services div h3,section.our-services div.services div p{
		text-align: center;
	}
	section.check_our h2{
		font-size: 52px;
		text-align: center;
	}
	div.services-2 a{
		margin-bottom: 30px;
		background-color: #fff;
		color: #2ebaee;
	}
	div.services-2 a:hover{
		background-color: #2ebaee;
		color: #fff;
		border: 1px solid #fff;
	}
	div.services-3 div.paddi{
	    padding-left: 0;
	}
	section.boy div h3{
	    font-size: 52px;
	    margin-left: 0;
	    text-align: center;
	}
	/*section.check_our h2 span:after{
    content: '';
    display: block;
	}*/
	section.footer div.contact{
		font-size: 52px;
	}
	section.footer input[type="text"], section.footer input[type="email"], textarea{
		width: 100%;
		font-family: Montserrat;
		/*margin: auto;*/
	}
	section.footer button{
		margin: 0 auto;
		/*margin-left: 0;*/
	}
	section.footer form{
    	margin: 55px 0 0 0;
	}
	footer p{
		margin: 50px 0 30px 0;
		text-align: left;
	}
	footer{
		max-height: 100%;
	}
}
/*@media (min-width: 1200px){

}*/
